@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
}
.container{
    width: 100%;
    /* background: lightblue; */
}

#header{
    width: 100%;
    height: 78px;
    background: #000000;
    display: flex;
    justify-content: space-around;
}
.first{
    display: flex;
}
.phone{
    width: 16px;
    height: 17px;
    margin-top: 29px;
    /* margin-left: 50px; */
}
.number{
    width: 120px;
    height: 21px;
    margin-top: 26px;
    /* margin-left: 10px; */
    font-family: 'public sans';
    font-weight: 400;
    font-size: 18px;
    color: #fff;

}
.button{
    display: flex;
}

.delivery{
    color: #fff;
    margin-top: 26px;
    font-family:'public sans' ;
    font-weight: 500;
    font-size: 18px;
    /* margin-left: 100px; */
    /* margin-right: 100px */
}

#signupButton{
    width: 140px;
    height: 43px;
    margin-top: 14px;
    border-radius: 43px;
    border: 2px solid #FFFFFF;
    padding: 8px 39px 8px 39px;
    font-family:'public sans' ;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
}

#loginButton {
    width: 139px;
    height: 43px;
    margin-top: 14px;
    border-radius: 43px;
    background: #E52E06;
    padding: 11px 46px 11px 46px;
    font-family: 'public sans';
    font-weight: 400;
    font-size: 18px;
    margin-left: 10px;
    /* margin-right: 30px; */
    color: #FFFFFF;
    cursor: pointer;
}

.header2 {
    width: 100%;
    display: flex;
    /* background: greenyellow; */
    margin-top: 30px;
    /* margin-left: 50px; */
    justify-content: space-around;
}
.firsthalf {
    display: flex;
    justify-content: space-between;
    width: 46%;
}

.name{
    font-family:'public sans' ;
    font-weight: 700;
    font-size: 32px;
    color: #000000;
}
.links ul{
    display: flex;
    padding-top: 8px;
    gap: 24px;
}
ul li {
    list-style-type: none;
    font-family: 'public sans';
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}   

.secondhalf{
    width: 16%;
    display: flex;
    gap: 30px;
}

.fav, .cart, .custom-select {
    margin-top: 5px;
    width: 28px;
    height: 23.99px;
    cursor: pointer;
}

#dropdownContainer {
    position: relative;
    display: inline-block;
}

#dropdownContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    right: 0; 
    top: 100%;
}

#dropdownContent .option {
    padding: 12px 16px;
    cursor: pointer;
}

#dropdownIcon {
    cursor: pointer;
}

.breadcrumb {
    width: 37%;
    /* height: 40px; */
    margin-top: 40px;
    /* margin-left: 55px; */
    /* background: rebeccapurple; */
    text-align: center;
}
.color1Text{
    font-family: 'public sans';
    font-weight: 400;
    font-size: 14px;
    opacity: 50%;
    padding-left: 5px;
}

.color2Text{
    font-family: 'public sans';
    font-weight: 500;
    font-size: 16px;
    /* opacity: 50%; */
    color: #E52E06;
    padding-left: 5px;
}

.main{
    width: 90%;
    display: flex;
    /* background: palevioletred; */
    margin: 50px 20px 0px 50px ;
}
.pic{
    width: 47%;
    margin: 50px;
    margin-left: 80px;
    display: flex;
    background: #C4C4C4;
    align-items: center;
    justify-content: center;
}
#controllerpic{
    width: 55%;
    height: 45%;
    margin-bottom: 40px;
    /* background-color: peru; */
}
.text{
    width: 47%;
    /* background: palegreen; */
    margin: 50px;
}
.heading{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
 .htext{
    font-family: 'public sans';
    font-weight: 600;
    font-size: 32px;
    color: #000000;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    /* width: 90%; */
}
.detail{
    width: 18%;
    display: flex;
    justify-content: space-between;
    margin-top: 13px;
}
#edit,
#trash {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-bottom: 10px;
    cursor: pointer;
}

#edit {
    border: 1px solid #0075FF;
    background: #0075FF;
}

#trash {
    border: 1px solid #E22900;
    background: #E22900;
}
#edit,
#trash {
    display: inline-block !important;
}

.visible {
    display: inline-block !important;
}

.category{
    color: #00000099;
    opacity: 60%;
    font-family: 'public sans';
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 3%;
    padding-top: 10px;
}
.price{
    font-family: 'public sans';
    font-weight: 600;
    font-size: 32px;
    color: #E52E06;
    letter-spacing: 3%;
    padding-top: 10px;
}

.shortDescription{
    color: #00000099;
    opacity: 60%;
    font-family: 'public sans';
    font-weight: 400;
    font-size: 15px;  
    padding-top: 15px;
}
.linebreak{
    border: 1px solid #000000;
    margin-top: 20px;
}
.orders{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* background-color: purple; */
    margin-top: 20px;
}
.ordernum{
    width: 38%;
    display: flex;
    align-items: center;
    justify-content: center;

    
}
.minus{
    border: 1px solid #00000080;
    opacity: 50%;
    border-radius: 4px 0px 0px 4px;
    padding:  5px 5px 8px;

}
#ordercount{
    width: 100%;
    border: 1px  solid #00000080;
    border-radius: 1px 0px 1px 0px;
    text-align: center;
    padding: 7px;
    font-family: 'public sans';
    font-weight: 500;
    font-size: 20px;  
    color: #000000;
}

.plus{
    border: 1px solid #000000;
    border-radius: 0px 4px 4px 0px;
    padding:  5px 5px 8px;
    background: #000000;
}

.ordercart{
    width: 40%;
    background: lawngreen;
}
#buttoncart{
    width: 100%;
    background: #000000;
    color: #FFFFFF;

    padding: 14px 10px 16px 10px;
    border: none;
}
.favcart{
  width: 13%;
  border: 1px solid #00000080;
  border-radius: 4px 0px 0px 4px;
  text-align: center;
  padding: 8px;
}

.facilities {
    width: 100%;
    margin-top: 40px;
    border-radius: 4px;
    border: 1px solid #00000080;
}

.shipping,
.askproduct {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 60px 0px;
}
.askproduct{
    padding-top: 30px;
}
.shipText,
.askText,
#shipdecortext,
#askdecortext {
    font-family: 'public sans';
    font-weight: 500;
    font-size: 16px;
    margin: 0;
    width: 80%;
    padding-left: 30px;
}

#shipdecortext,
#askdecortext {
    text-decoration: underline;
    font-size: 12px;
    margin-top: 10px;
    padding-left: 0px;
}

.shipicon,
.mailicon {
    display: flex;
    align-items: center;
    width: max-content; 
}

.shipicon img,
.mailicon img {
    vertical-align: middle;
    margin-left: 10px; 
}
.infoicon {
margin-right: 10px;
}

.break {
    width: 100%;
    border: 1px solid #000000;
}

.descripton{
    width: 100%;
    margin-top: 30px;
    /* background:peachpuff; */
    margin-bottom: 20px;
}
.deHead {
    width: 30%;
    text-align: center;
    font-family: 'public sans';
    font-weight: 600;
    font-size: 24px;
    position: relative; 
}

.deunderline {
    background-color: #E52E06;
    border-radius: 32px;
    height: 5px;
    width: 30%; 
    position: absolute; 
    top: 30px;
    bottom: 0;
    left: 48%;
    transform: translateX(-50%);
}
.deText {
    width: 83%;
    font-family: 'public sans';
    font-weight: 400;
    font-size: 16px;
    color: #00000099;
    line-height: 1.5; 
    padding: 25px 0px 0px 20px;
    text-align: justify; 
    display: block;
    margin-left: 8%;
}

footer{
    width: 100%;
    /* height: 419px; */
    margin-top: 100px;
    background: #EFF2F6;
    display: flex;
    justify-content: space-around;
    padding-top: 45px;
    padding-bottom: 80px;

}
.newsletter{
    /* background: plum; */
    margin-top: 7px;
}

.newsHead{
    font-family: 'public sans';
    font-weight: 600;
    font-size: 31px;
}

.newsText{
    margin-top: 20px;
    font-family: 'public sans';
    font-weight: 400;
    font-size: 14px;
}

.email-input-container {
    position: relative;
    margin-top: 20px;
    display: inline-block;
}

.email-input {
    padding: 10px 30px 10px 10px;
    width: 400px; /* Adjust width as needed */
    font-size: 16px;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.signup-button {
    position: absolute;
    top: 10px;
    right: 0;
    width: 60px;
    height: 100%;
    color: #000000;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    font-family: 'public sans';
    font-weight: 700;
    font-size: 14px;
}

.lasttext{
    width: 45%;
    display: flex;
    justify-content: space-between;
}
.shopHead{
    font-family: 'public sans';
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 20px;
   
}
.shopText p{
    font-family: 'public sans';
    font-weight: 500;
    font-size: 16px;
    opacity: 50%;
}

@media screen and (max-width:1025px) {
    .detail{
        width: 23%;
    }
}